<div class="row">
    <div class="col s12 m5 l3">
        <div class="card-panel">
            <h5>{{$ctrl.user.name}}</h5>
            <p>Баланс: {{$ctrl.user.balance | currency}}</p>
            <button class="waves-effect waves-light btn" ng-click="$ctrl.addMoney()">Пополнить</button>
        </div>
    </div>
    <div class="col s12 m7 l8 offset-l1">
        <h5>Заказанные блюда</h5>

        <preloader ng-if="$ctrl.ordersLoading"></preloader>

        <table ng-if="!$ctrl.ordersLoading">
            <thead>
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="order in $ctrl.orderList">
                <td>{{order.dish.title}}</td>
                <td>{{order.dish.price | currency}}</td>
                <td>{{order.status}}</td>
                <td><timer start="order.created" finish="order.finished"></timer></td>
            </tr>
            </tbody>
        </table>
        <br/>
        <a ui-sref="dish-list" class="waves-effect waves-light btn">Добавить</a>
    </div>
</div>